{#
/**
 * @file
 * Default template for the xsl formatter.
 *
 * Available variables:
 * - item: The field item, which is formatted.
 * - settings: The xsl formatter settings.
 * - result: The transformed XML as a string.
 *
 * @ingroup themeable
 */
#}
<div class="xsl-formatter">
  {{ result|raw }}
</div>
